:root {
    --Inter: 'Inter';
    --PressStart2P: 'PressStart2P';
    --clamp-width: clamp(16px, calc(-2.462px + 4.923vw), 32px);
    --accent-color: #000;
    --contour-color: #000;
    --animation-fill-color: #FF0000;
    --grid-gradient:
    repeating-linear-gradient(
      to right,
      #d3d3d3 0px,
      #d3d3d3 2px,
      transparent 2px,
      transparent 4px
    ),
    /* 2. Повторяющиеся горизонтальные полоски сверху вниз */
    repeating-linear-gradient(
      to bottom,
      #d3d3d3 0px,
      #d3d3d3 2px,
      transparent 2px,
      transparent 4px
    ),
    /* 3. Вертикальный градиент от светлого к темному */
    linear-gradient(
      to bottom,
      #e7e7e7 0%,
      #e7e7e7 0.01%,
      #1a1a1a 100%
    );
}